@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gafata|Montez|Averia+Sans+Libre|Vampiro+One');

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}
html{
  scroll-behavior: smooth;
}
body{
  height: 100%;
  background-image: linear-gradient(rgb(252, 230, 234), white);
}
* {
box-sizing: border-box;
padding: 0;
margin: 0;
}


/* NAVBAR CSS */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
} 
nav{
  font-family: 'Gafata';
  display: flex;
  height: 80px;
  width: 100%;
  background: linear-gradient(to right, white, rgb(24, 5, 75));
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: rgb(22, 8, 75);
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: rgb(230, 210, 227);
  }
}

  /* NAVBAR CSS ENDS */



  /* BACKGROUND IMAGE CSS */

  .bg-image{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-left: 6%;
  }

  @media screen and (max-width: 1000px){
    .bg-image{
      padding-top: 50px;
     width: 100%;
    }
  }
/* BACKGROUND IMAGE CSS ENDS */


/* ABOUT SECTION */
h2{
  /* position: relative; */
  text-align: center;
  padding-top: 13%;
  font-size: 4rem;
  font-family: 'Satisfy', cursive;
}
hr {
    background: #100852;
    margin: 0 40% 3% 40%;
}
.container{
  position: relative;
}
.container .image1 {
  width: 40%;
  position: absolute;
  z-index: -10000;
  bottom: 50%;
  right: 45%;
  opacity: 0.5;
}

.container .image2 {
  width: 40%;
  position: absolute;
  z-index: -10000;
  left: 45%;
  opacity: 0.6;
  top: 20%;
}
.container .text {
  /* background: linear-gradient(0deg, #e5e2f0ee 30%, white 100%); */
  font-family: 'Satisfy', cursive;
  z-index: 1;
  color: rgb(15, 1, 13);
  font-size: 2rem;
  text-align: center;
  padding: 5% 10% 5% 10%;
}
.btn{
  position: absolute;
}
@media screen and (max-width: 1000px){

  h2{
    font-size: 2.5rem;
  }
  .container .text{
    font-size: 1.6rem;
  }
  .container .image1{
    left: 5%;
    /* top: 0%; */
    width: 70%;
  }
  .container .image2{
    left: 30%;
    top: 60%;
    width: 70%;
  }

}




.wrapper1{
	width:100%;
  margin-top: 7%;
	min-height:50vh;
	overflow:hidden;
}
.section1{
	width:90%;
	display: block;
	margin:80px auto;
}
.left-section1{
	width:60%;
	float: right;
	padding-right:50px;
}
.content1{
	text-align:justify;
}
.image-section1{
	float: left;
	width:40%;
}
.image-section1 img{
	width:100%;
  top: 200%;
}

.content1 .title1 h2{
	color:#1c1c1c;
	font-family: 'Satisfy', cursive;
	font-weight: 800;
}
.content1 p{
	font-family: 'Satisfy', cursive;
	padding-top:15px;
  font-size: 1.7rem;
  font-weight: 300;
}
@media screen and (max-width:768px){
  .wrapper1{
    margin-top: 0;
  }
	.left-section1{
		width:100%;
		padding-right:0px;
	}
	.content1 h2{
		text-align: center;
	}
  .content1 p{
    font-size: 1.3rem;
  }
	.image-section1{
		width: 50%;
		display: block;
		margin-left: 100px;
	}
	.image-section1 img{
		width:100%
	}
}

.section12{
	width:90%;
	display: block;
	margin:80px auto;
}
.left-section12{
	width:60%;
	float: left;
	padding-right:50px;
}
.content12{
	text-align:justify;
}
.image-section12{
	float: right;
	width:40%;
}
.image-section12 img{
	max-width:100%;
	height: auto;
}

.content12 .title12 h2{
	color:#1c1c1c;
	font-family: 'Satisfy', cursive;
	font-weight: 800;
}
.content12 p{
	font-family: 'Satisfy', cursive;
	padding-top:15px;
	color:#1e1e1e;
	font-size: 1.7rem;
  font-weight: 300;
}
@media screen and (max-width:768px){
	.left-section12{
		width:100%;
		padding-right:0px;
	}
	.content12 h2{
		text-align: center;
	}
  .content12 p{
    font-size: 1.3rem;
  }
	.image-section12{
		width:100%;
		display: block;
		margin:50px auto;
	}
	.image-section12 img{
		/* width:100% */
    width: 50%;
		display: block;
		margin-left: 100px;
    margin-bottom: 2%;
	}
}

 .button1{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #c2a3c0;
  background-color: rgb(145, 169, 206);
  margin:0 0.3em 0.3em 0;
  border-radius: 1em;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
 }
 .button1:hover {
   color: rgb(22, 8, 75);
   background-color: rgb(247, 167, 223);
 }
 @media screen and (max-width:768px){
   .button1{
     display: block;
     margin: 0.4em 6em 0 6em;
   }
 }

.text{
  font-family: 'Satisfy', cursive;
  z-index: 1;
  color: rgb(15, 1, 13);
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  padding: 5% 10% 5% 10%;
}



.image3{
  position: relative;
  top: 310%;
  left: 30%;
  bottom: -10px;
  /* display: inline-block; */
  max-width: 100%;
}
@media screen and (max-width: 1000px){
  .image3{
    top: 290%;
    left: 0%;
  }
}
