@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.bg-video-wrap{
  position: absolute;
  overflow: hidden;
  width:100%;
  height:100vh;
  background:url(D:\Codigo Amigos\images\bd.png) no-repeat center center/cover;
}
video{
  min-width:100%;
  min-height:100vh;
  z-index:1;
}

.content{
  text-align: center;
  color:#fff;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:auto;
  z-index:1;
  width:100%;
}
.content .heading{
  color:#ffffff;
  font-size:4.5em;
  font-weight: 700;
  margin:0;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.content .heading span{
	color:#f4c613;
	
	letter-spacing: 2.3px;
}
.content .heading3{
  margin:5px 0;
  letter-spacing:6px;
}
.main-btn{
  margin:15px 0;
  padding:15px 50px;
  background-color:#f4c613;
  color:#fff;
  border:none;
  font-weight: 700;
  border-radius: 6px;
  cursor: pointer;
}

  